a {
    text-decoration: none;
    color: rgba(0,0,0,0.87);
}
div {
    display: block;
}
body {
    display: flex;
    flex-direction: column;
    height: 100%;
    color: #222
}
a:hover, a:active {
    text-decoration: underline;
}
a.lhh:first-of-type {
    margin-left: 15px;
}
a.lhh {
    display: inline-block;
    padding: 5px;
    margin: 0 5px;
    color: #222;
 }
/*
.container {
    display: flex;
    flex-direction: column;
}
*/
#r1 {
    background-color: gray;
    /*width: 100%;*/
    display: flex;
    height: 60px;
    align-items: center;
}
#r2 {
    background-color: blue;
    width: 100%;
    height: 290px;
}
#r3 {
    background-color: gray;
    width: 100%;
    height: 160px;
}
#r4 {
    background-color: blue;
    width: 100%;
    height: 247px;
}
#r5 {

    width: 100%;
    height: 93px;
    background-color: gray;
}
.rhs {
    display: inline-block;
    flex-grow: 1;
}
.gb_h {
    display: inline-block;
    padding-left: 15px;
}
.subdiv {
    float: right;
    padding: 32px;
    box-sizing: border-box;
    height: 48px;
    line-height: normal;
    padding: 0 4px;
    flex: 0 0 auto;
    justify-content: flex-end;
    vertical-align: middle;
    white-space: nowrap;
    -webkit-box-align: center;
    align-items: center;
    display: flex;
}

#svgdiv {
    

}
#a-img {
    padding: 4px;
    
}
#a-img img {
    border-radius: 50%;
}
svg {
    opacity: 1;
}
.gb_Af {
    position: relative;
    height: 48px;
    border-radius: 2px;
    height: 40px;
    width: 40px;

}
.hsd {
    display: flex;
    float: right;
    position: relative;
    padding: 0 4px;
    padding-left: 30px;
    flex: 0 0 auto;
}

.dg-w {
    display: inline;
    padding: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
}  
.dg-sw {
 
}
.gb_da {
    padding: 4px;
}
.ftr {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 0px 20px 0px 20px;
    flex-shrink: 0;
    box-sizing: border-box;
}
.pHiOh {
    display: block;
    padding: 15px;
    white-space: nowrap;
}
.KxwPGc {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.cns {
    order: 2;
}.abs {
    justify-content: flex-start;
    min-width: 30%;
    order: 1;
}
.pts {
    justify-content: flex-end;
    min-width: 30%;
    order: 3;
}
.set {
    position: relative;
}
@media only screen and (max-width:1200px) {
    .cns {
        order: 0;
        width: 100%;
        justify-content: center;
    }
    .KxwPGc {
        justify-content: space-evenly;
    }
}
